:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

html, body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

body {
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
}
