html {
  --transition-fast: 150ms ease;
  --transition-medium: 300ms ease;
  --transition-slow: 700ms ease;
}

body {
  animation: fadeIn var(--transition-slow);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
