
.boot-screen {
  background: black;
  color: #ff006e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.boot-text {
  font-size: 22px;
  animation: flicker 1.2s infinite steps(2);
}

@keyframes flicker {
  0% { opacity: 0.2; }
  100% { opacity: 1; }
}


