@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: black;
}

#root {
  width: 100%;
  height: 100%;
}
